| Title |   PR URL  | Author| Days since PR raised|
|-------|-----------|----------|-------|
{% for item in data %}
    {{item.title}} | {{item.url}} | {{item.author}} | {{item.days_since}} |
{% endfor %}
